In [1]:
import pandas as pd

applicants = pd.read_csv("applicants.csv")

In [2]:
applicants

,Job Description,Apps Received,Female,Male,Unknown_Gender
0,311 DIRECTOR 9206,54,20,31,3
1,ACCOUNTING CLERK 1223,648,488,152,8
2,AIRPORT MANAGER 7260,51,13,37,1
3,AIRPORT POLICE LIEUTENANT 2013,48,9,38,1
4,AQUARIST 2400,40,15,24,1
...,...,...,...,...,...
182,WASTEWATER TREATMENT LABORATORY MANAGER 7840 -...,16,6,9,1
183,WASTEWATER TREATMENT OPERATOR 4123 - ARCHIVE,125,9,113,3
184,WATER MICROBIOLOGIST 7857 - ARCHIVE,179,89,82,8
185,WATER UTILITY WORKER 3912 - ARCHIVE,96,2,92,2
186,WORKERS' COMPENSATION ANALYST 1774 - ARCHIVE,166,100,61,5

In [10]:
mostly_women = applicants[applicants["Female"] >= (applicants["Apps Received"] - applicants["Unknown_Gender"]) * 0.6]
mostly_women

,Job Description,Apps Received,Female,Male,Unknown_Gender
1,ACCOUNTING CLERK 1223,648,488,152,8
7,ARTS ASSOCIATE 2454,702,430,240,32
16,CHIEF CLERK PERSONNEL 1260,39,35,4,0
19,CHIEF OF AIRPORT PLANNING 7945,5,3,2,0
26,CUSTOMER SERVICE REPRESENTATIVE 1230,28230,19892,7968,370
27,CUSTOMER SERVICE SPECIALIST 1229 (Filing start...,220,149,70,1
64,MARINE ENVIRONMENTAL MANAGER 9437,5,3,2,0
69,PERSONNEL ANALYST 1731,298,202,91,5
74,POLICE SERVICE REPRESENTATIVE 2207,2436,1762,652,22
81,PRINCIPAL PUBLIC RELATIONS REPRESENTATIVE 1786,43,31,11,1
93,SENIOR CLERK TYPIST 1368,1824,1442,360,22
111,SENIOR UTILITY ACCOUNTANT 1521,92,57,31,4
130,UTILITY ACCOUNTANT 1511 (Revised 2/12/14),911,546,336,29
131,UTILITY ADMINISTRATOR 9105,494,287,180,27
133,UTILITY EXECUTIVE SECRETARY 1336,430,395,31,4
134,VOLUNTEER COORDINATOR 2495,326,227,94,5
148,WORKERS' COMPENSATION ASSISTANT 1775,116,95,19,2
157,COMMERCIAL SERVICE SUPERVISOR 1213 - ARCHIVE,257,189,58,10
170,PRINCIPAL COMMUNICATIONS OPERATOR 1458 - ARCHIVE,22,17,4,1
177,SMS PAYMENT CLERK 1214 - ARCHIVE,150,119,23,8
186,WORKERS' COMPENSATION ANALYST 1774 - ARCHIVE,166,100,61,5

In [9]:
mostly_men = applicants[applicants["Male"] >= (applicants["Apps Received"] - applicants["Unknown_Gender"]) * 0.6]
mostly_men

,Job Description,Apps Received,Female,Male,Unknown_Gender
0,311 DIRECTOR 9206,54,20,31,3
2,AIRPORT MANAGER 7260,51,13,37,1
3,AIRPORT POLICE LIEUTENANT 2013,48,9,38,1
4,AQUARIST 2400,40,15,24,1
8,ASSISTANT COMMUNICATIONS CABLE WORKER 3808,105,3,101,1
...,...,...,...,...,...
178,UNDERGROUND DISTRIBUTION CONSTRUCTION MECHANIC...,591,7,573,11
179,UNDERGROUND DISTRIBUTION CONSTRUCTION SUPERVIS...,51,0,49,2
182,WASTEWATER TREATMENT LABORATORY MANAGER 7840 -...,16,6,9,1
183,WASTEWATER TREATMENT OPERATOR 4123 - ARCHIVE,125,9,113,3
185,WATER UTILITY WORKER 3912 - ARCHIVE,96,2,92,2

In [18]:
neutral = applicants[(applicants["Female"] < (applicants["Apps Received"] - applicants["Unknown_Gender"]) * 0.6) & (applicants["Female"] > (applicants["Apps Received"] - applicants["Unknown_Gender"]) * 0.4)]
neutral

,Job Description,Apps Received,Female,Male,Unknown_Gender
5,ARCHIVIST1191,161,89,66,6
6,ART CENTER DIRECTOR 2478,102,53,48,1
9,ASSISTANT UTILITY BUYER 1860,897,467,411,19
18,CHIEF MANAGEMENT ANALYST 9182,143,78,54,11
46,ERGONOMIST - 1743,18,9,7,2
48,FINANCIAL ANALYST 1549,319,143,164,12
57,HOUSING INVESTIGATOR 8516,14,8,6,0
58,HOUSING INVESTIGATOR 8516,395,215,176,4
59,INDUSTRIAL CHEMIST 7834,14,8,6,0
61,INTERNAL AUDITOR 1625,247,114,127,6
63,LANDSCAPE ARCHITECTURAL ASSOCIATE 7933 (REVISE...,154,67,83,4
70,PERSONNEL RESEARCH ANALYST 1739,33,17,16,0
84,PUBLIC INFORMATION DIRECTOR 1800,174,87,83,4
85,PUBLIC RELATIONS SPECIALIST 1785,700,394,279,27
86,RECREATION FACILITY DIRECTOR 2434,443,206,230,7
92,SENIOR CLAIMS REPRESENTATIVE 1770,175,89,84,2
108,SENIOR RECREATION DIRECTOR 2446,131,64,66,1
112,SENIOR UTILITY BUYER 1862,65,30,32,3
124,SUPPLY SERVICES MANAGER 1865,28,15,13,0
125,TAX COMPLIANCE OFFICER 1179,713,399,291,23
132,UTILITY BUYER 1861,126,64,58,4
147,WHARFINGER 1190,80,37,41,2
150,ANIMAL CARE TECHNICIAN 4310 - ARCHIVE,270,118,147,5
152,ARTS MANAGER 2455 - ARCHIVE,148,57,84,7
155,CHEMIST 7833 - ARCHIVE,289,122,155,12
156,COMMERCIAL FIELD REPRESENTATIVE 1600 - ARCHIVE,252,113,131,8
159,DATA PROCESSING TECHNICIAN (1136) - ARCHIVE,1175,657,471,47
160,DIRECTOR OF HOUSING (1568) - ARCHIVE,59,34,23,2
165,GRAPHICS DESIGNER 1670 - ARCHIVE,627,252,355,20
172,PRINCIPAL WORKERS' COMPENSATION ANALYST (1777)...,10,5,5,0
176,SENIOR WORKERS' COMPENSATION ANALYST 1769 - AR...,44,26,18,0
180,UTILITY SERVICES MANAGER 9106 REVISED 07/15/14...,68,31,30,7
181,UTILITY SERVICES SPECIALIST 3755 - ARCHIVE,735,409,282,44
184,WATER MICROBIOLOGIST 7857 - ARCHIVE,179,89,82,8

In [15]:
int_women_men = pd.merge(mostly_women, mostly_men, how ="inner")
int_women_men

Empty DataFrame
Columns: [Job Description, Apps Received, Female, Male, Unknown_Gender]
Index: []

In [19]:
int_women_neutral = pd.merge(mostly_women, neutral, how="inner")
int_women_neutral

# Accountant: 59.93413831% with unknown, 61,9047619 without
# Administrator: 58.09716599 with unknown, 61,45610278 without

Empty DataFrame
Columns: [Job Description, Apps Received, Female, Male, Unknown_Gender]
Index: []

In [17]:
int_men_neutral = pd.merge(mostly_men, neutral, how="inner")
int_men_neutral

Empty DataFrame
Columns: [Job Description, Apps Received, Female, Male, Unknown_Gender]
Index: []

In [20]:
print(applicants.shape)
print(mostly_women.shape)
print(mostly_men.shape)
print(neutral.shape)

(187, 5)
(21, 5)
(132, 5)
(34, 5)