In [1]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
import sys
import os
workspace_path = os.path.join(os.path.abspath(".."))
sys.path.append(workspace_path)
workspace_path

'c:\\Code\\job_discrimination_sandbox'

In [3]:
pd.options.display.float_format = "{:.2f}".format

In [4]:
# Reading application statistics into dataframe
filepath = os.path.join(workspace_path, "data", "cleaned_data", "bulletins_w_labels_and_content.csv")
df = pd.read_csv(filepath)
df

,ID,Job Description,Apps Received,Female,Male,Unknown_Gender,File Names,Label 60/40,Numeric label 60/40,Label 70/30,Numeric label 70/30,Cleaned text,Text
0,9206,311 DIRECTOR,54,20,31,3,311 DIRECTOR 9206 041814.txt,M,2,N,0,director class code open date annual salary du...,311 DIRECTOR Class Code: 9206 Open Date:...
1,1223,ACCOUNTING CLERK,648,488,152,8,ACCOUNTING CLERK 1223 071318.txt,W,1,W,1,accounting clerk class code open date exam ope...,ACCOUNTING CLERK Class Code: 1223 Open ...
2,7260,AIRPORT MANAGER,51,13,37,1,AIRPORT MANAGER 7260 120216.txt,M,2,M,2,airport manager class code open date exam open...,AIRPORT MANAGER Class Code: 7260 Open D...
3,3227,AIRPORT POLICE LIEUTENANT,48,9,38,1,AIRPORT POLICE LIEUTENANT 3227 091616.txt,M,2,M,2,airport police lieutenant class code open date...,AIRPORT POLICE LIEUTENANT ...
4,2400,AQUARIST,40,15,24,1,AQUARIST 2400 050214.txt,M,2,N,0,aquarist class code open date annual salary ca...,AQUARIST Class Code: 2400 Open Date: 05...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,7840,WASTEWATER TREATMENT LABORATORY MANAGER,16,6,9,1,WASTEWATER TREATMENT LABORATORY MANAGER 7840 1...,M,2,N,0,wastewater treatment laboratory manager class ...,WASTEWATER TREATMENT LABORATORY MANAGER Class...
173,4123,WASTEWATER TREATMENT OPERATOR,125,9,113,3,WASTEWATER TREATMENT OPERATOR 120718.txt,M,2,M,2,wastewater treatment operator class code open ...,WASTEWATER TREATMENT OPERATOR Class Code: ...
174,7857,WATER MICROBIOLOGIST,179,89,82,8,WATER MICROBIOLOGIST 7857 072514 rev073114.txt,N,0,N,0,water microbiologist class code open date revi...,WATER MICROBIOLOGIST Class Code: 7857...
175,3912,WATER UTILITY WORKER,96,2,92,2,WATER UTILITY WORKER 3912 120817.txt,M,2,M,2,water utility worker class code open date exam...,WATER UTILITY WORKER Class Code: 3912 Op...
176,1774,WORKERS COMPENSATION ANALYST,166,100,61,5,WORKERS_ COMPENSATION ANALYST 1774 032417R.txt,W,1,N,0,worker compensation analyst class code open da...,WORKERS' COMPENSATION ANALYST Class Code: ...

In [107]:
df["Label_int"] = None
df

,Unnamed: 0.1,Unnamed: 0,ID,Job Description,Apps Received,Female,Male,Unknown_Gender,File Names,Label,Text,Cleaned text,Label_int
0,0,0,9206,311 DIRECTOR,54,20,31,3,311 DIRECTOR 9206 041814.txt,M,311 DIRECTOR Class Code: 9206 Open Date:...,director class code open date annual salary du...,None
1,1,1,1223,ACCOUNTING CLERK,648,488,152,8,ACCOUNTING CLERK 1223 071318.txt,W,ACCOUNTING CLERK Class Code: 1223 Open ...,accounting clerk class code open date exam ope...,None
2,2,2,7260,AIRPORT MANAGER,51,13,37,1,AIRPORT MANAGER 7260 120216.txt,M,AIRPORT MANAGER Class Code: 7260 Open D...,airport manager class code open date exam open...,None
3,3,3,3227,AIRPORT POLICE LIEUTENANT,48,9,38,1,AIRPORT POLICE LIEUTENANT 3227 091616.txt,M,AIRPORT POLICE LIEUTENANT ...,airport police lieutenant class code open date...,None
4,4,4,2400,AQUARIST,40,15,24,1,AQUARIST 2400 050214.txt,M,AQUARIST Class Code: 2400 Open Date: 05...,aquarist class code open date annual salary ca...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,172,7840,WASTEWATER TREATMENT LABORATORY MANAGER,16,6,9,1,WASTEWATER TREATMENT LABORATORY MANAGER 7840 1...,M,WASTEWATER TREATMENT LABORATORY MANAGER Class...,wastewater treatment laboratory manager class ...,None
173,173,173,4123,WASTEWATER TREATMENT OPERATOR,125,9,113,3,WASTEWATER TREATMENT OPERATOR 120718.txt,M,WASTEWATER TREATMENT OPERATOR Class Code: ...,wastewater treatment operator class code open ...,None
174,174,174,7857,WATER MICROBIOLOGIST,179,89,82,8,WATER MICROBIOLOGIST 7857 072514 rev073114.txt,N,WATER MICROBIOLOGIST Class Code: 7857...,water microbiologist class code open date revi...,None
175,175,175,3912,WATER UTILITY WORKER,96,2,92,2,WATER UTILITY WORKER 3912 120817.txt,M,WATER UTILITY WORKER Class Code: 3912 Op...,water utility worker class code open date exam...,None
176,176,176,1774,WORKERS COMPENSATION ANALYST,166,100,61,5,WORKERS_ COMPENSATION ANALYST 1774 032417R.txt,W,WORKERS' COMPENSATION ANALYST Class Code: ...,worker compensation analyst class code open da...,None

In [108]:
df.loc[df['Label'] == 'N', 'Label_int'] = 0.0
df.loc[df['Label'] == 'W', 'Label_int'] = 1.0
df.loc[df['Label'] == 'M', 'Label_int'] = 2.0
df

,Unnamed: 0.1,Unnamed: 0,ID,Job Description,Apps Received,Female,Male,Unknown_Gender,File Names,Label,Text,Cleaned text,Label_int
0,0,0,9206,311 DIRECTOR,54,20,31,3,311 DIRECTOR 9206 041814.txt,M,311 DIRECTOR Class Code: 9206 Open Date:...,director class code open date annual salary du...,2.00
1,1,1,1223,ACCOUNTING CLERK,648,488,152,8,ACCOUNTING CLERK 1223 071318.txt,W,ACCOUNTING CLERK Class Code: 1223 Open ...,accounting clerk class code open date exam ope...,1.00
2,2,2,7260,AIRPORT MANAGER,51,13,37,1,AIRPORT MANAGER 7260 120216.txt,M,AIRPORT MANAGER Class Code: 7260 Open D...,airport manager class code open date exam open...,2.00
3,3,3,3227,AIRPORT POLICE LIEUTENANT,48,9,38,1,AIRPORT POLICE LIEUTENANT 3227 091616.txt,M,AIRPORT POLICE LIEUTENANT ...,airport police lieutenant class code open date...,2.00
4,4,4,2400,AQUARIST,40,15,24,1,AQUARIST 2400 050214.txt,M,AQUARIST Class Code: 2400 Open Date: 05...,aquarist class code open date annual salary ca...,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,172,7840,WASTEWATER TREATMENT LABORATORY MANAGER,16,6,9,1,WASTEWATER TREATMENT LABORATORY MANAGER 7840 1...,M,WASTEWATER TREATMENT LABORATORY MANAGER Class...,wastewater treatment laboratory manager class ...,2.00
173,173,173,4123,WASTEWATER TREATMENT OPERATOR,125,9,113,3,WASTEWATER TREATMENT OPERATOR 120718.txt,M,WASTEWATER TREATMENT OPERATOR Class Code: ...,wastewater treatment operator class code open ...,2.00
174,174,174,7857,WATER MICROBIOLOGIST,179,89,82,8,WATER MICROBIOLOGIST 7857 072514 rev073114.txt,N,WATER MICROBIOLOGIST Class Code: 7857...,water microbiologist class code open date revi...,0.00
175,175,175,3912,WATER UTILITY WORKER,96,2,92,2,WATER UTILITY WORKER 3912 120817.txt,M,WATER UTILITY WORKER Class Code: 3912 Op...,water utility worker class code open date exam...,2.00
176,176,176,1774,WORKERS COMPENSATION ANALYST,166,100,61,5,WORKERS_ COMPENSATION ANALYST 1774 032417R.txt,W,WORKERS' COMPENSATION ANALYST Class Code: ...,worker compensation analyst class code open da...,1.00

In [109]:
# Following the tutorial on https://www.youtube.com/watch?v=kxeyoyrf2cM&ab_channel=PatrickLoeber
from collections import Counter

# Count unique words
def counter_word(text_col):
    count = Counter()
    for text in text_col.values:
        for word in text.split():
            count[word] += 1
    return count

counter = counter_word(df.Text)

In [110]:
len(counter)

10599

In [147]:
counter(df["Text"].max())
# Find out the ad with the most words, and add a few extra.

TypeError: 'Counter' object is not callable

In [111]:
counter

Counter({'311': 8,
         'DIRECTOR': 9,
         'Class': 459,
         'Code:': 183,
         '9206': 2,
         'Open': 450,
         'Date:': 176,
         '04-18-14': 3,
         'ANNUAL': 177,
         'SALARY': 177,
         '$125,175': 1,
         'to': 6970,
         '$155,514': 1,
         'DUTIES': 176,
         'A': 579,
         'Director': 33,
         'is': 1443,
         'responsible': 29,
         'for': 2207,
         'the': 12711,
         'successful': 16,
         'operation': 58,
         'and': 9278,
         'expansion': 2,
         'of': 8795,
         'Call': 3,
         'Center': 14,
         'in': 3383,
         'Information': 40,
         'Technology': 14,
         'Agency': 6,
         '(ITA)': 1,
         'which': 360,
         'answers': 2,
         'call': 21,
         'from': 522,
         'constituents': 1,
         'regarding': 307,
         'Citywide': 7,
         'services': 31,
         'provided': 251,
         'by': 1114,
         'City': 2168,
         'departments;': 9,
         'works': 25,
         'ensure': 605,
         'efficient': 9,
         'effective': 140,
         'resolution': 1,
         'any': 392,
         'issues': 188,
         'that': 986,
         'may': 2081,
         'arise;': 1,
         'plans,': 60,
         'directs,': 9,
         'hires,': 1,
         'coaches,': 1,
         'coordinates': 17,
         'a': 4478,
         'large': 85,
         'staff': 136,
         'professional,': 9,
         'technical': 236,
         'clerical': 30,
         'employees': 108,
         'engaged': 105,
         'implementation,': 4,
         'administration,': 16,
         'operations': 40,
         "City's": 95,
         'Center;': 2,
         'applies': 114,
         'sound': 109,
         'supervisor': 7,
         'principles': 272,
         'techniques': 181,
         'building': 108,
         'maintaining': 96,
         'work': 481,
         'force;': 60,
         'fulfills': 77,
         'equal': 270,
         'opportunity': 84,
         'responsibilities;': 40,
         'does': 396,
         'related': 272,
         'work.': 62,
         'REQUIREMENTS': 21,
         '1.': 619,
         'One': 31,
         'year': 258,
         'full-time': 263,
         'paid': 293,
         'experience': 807,
         'as': 1563,
         'Senior': 107,
         'Management': 49,
         'Analyst': 33,
         'with': 1438,
         'Los': 1249,
         'Angeles': 880,
         'or': 2381,
         'class': 92,
         'at': 1298,
         'least': 48,
         'level': 96,
         'provides': 40,
         'professional': 188,
         'supervisory': 158,
         'managerial': 4,
         'relating': 41,
         'center': 12,
         '50': 6,
         'agents': 4,
         'receives': 6,
         'one': 158,
         'million': 4,
         'calls': 5,
         'annually;': 1,
         '2.': 611,
         "Bachelor's": 4,
         'degree': 111,
         'recognized': 96,
         'college': 174,
         'university': 136,
         'four': 22,
         'years': 318,
         'environment': 15,
         'annually,': 2,
         'two': 157,
         'must': 813,
         'be': 4788,
         'supervising': 26,
         'working': 64,
         'such': 333,
         'center;': 5,
         '3.': 450,
         'Eight': 3,
         'center.': 2,
         'NOTES:': 363,
         'In': 556,
         'addition': 50,
         'regular': 453,
         'application,': 38,
         'all': 344,
         'applicants': 634,
         'complete': 458,
         'Qualifications': 219,
         'Questionnaire': 207,
         'time': 819,
         'filing.': 84,
         'The': 1165,
         'located': 49,
         'within': 578,
         'Questions': 62,
         'section': 65,
         'application.': 272,
         'Applicants': 743,
         'who': 767,
         'fail': 157,
         'will': 3137,
         'not': 1338,
         'considered': 369,
         'further': 137,
         'this': 937,
         'examination,': 71,
         'their': 571,
         'application': 358,
         'processed.': 79,
         'lack': 140,
         'six': 255,
         'months': 355,
         'less': 138,
         'required': 839,
         'file': 492,
         'examination.': 353,
         'However,': 211,
         'they': 460,
         'cannot': 156,
         'appointed': 270,
         'until': 158,
         'full': 160,
         'requirement': 147,
         'met.': 360,
         'sales': 2,
         'telemarketing': 1,
         'excluded.': 1,
         '4.': 305,
         'Customer': 33,
         'Relations': 16,
         '(CRM)': 3,
         'systems': 85,
         'expertise,': 1,
         'including': 543,
         'integration,': 1,
         'knowledge': 293,
         'base': 3,
         'creation': 2,
         'highly': 22,
         'desired.': 14,
         'WHERE': 177,
         'TO': 362,
         'APPLY': 177,
         'Applications': 616,
         'only': 292,
         'accepted': 376,
         'online.': 23,
         'When': 178,
         'you': 813,
         'are': 1309,
         'viewing': 178,
         'online': 121,
         'job': 588,
         'bulletin': 188,
         'your': 460,
         'choice,': 177,
         'simply': 178,
         'scroll': 178,
         'top': 179,
         'page': 178,
         'select': 178,
         '"Apply"': 178,
         'icon.': 177,
         'Online': 15,
         'bulletins': 179,
         'also': 228,
         'available': 325,
         'http://agency.governmentjobs.com/lacity/default.cfm': 15,
         'Competitive': 72,
         'Examinations': 49,
         'http://agency.governmentjobs.com/lacity/default.cfm?promotionaljobs=1': 20,
         'Promotional': 240,
         'Examinations.': 152,
         'NOTE:': 197,
         'Should': 28,
         'number': 327,
         'qualified': 131,
         'candidates': 607,
         'an': 762,
         'expert': 82,
         'review': 404,
         'committee': 45,
         'assembled': 19,
         'evaluate': 43,
         'each': 390,
         "candidate's": 253,
         'qualifications': 543,
         'position': 398,
         'Director.': 5,
         'evaluation,': 23,
         'assess': 29,
         "applicant's": 18,
         'training': 156,
         'based': 316,
         'upon': 264,
         'information': 515,
         'employment': 269,
         'Questionnaire.': 64,
         'Those': 54,
         'possessing': 49,
         'greatest': 29,
         'likelihood': 29,
         'successfully': 41,
         'performing': 92,
         'duties': 136,
         'Director,': 3,
         'solely': 32,
         'on': 2245,
         'presented': 89,
         'committee,': 19,
         'invited': 184,
         'participate': 144,
         'interview.': 250,
         'APPLICATION': 177,
         'DEADLINE': 175,
         'received': 368,
         'THURSDAY,': 158,
         'MAY': 42,
         '1,': 33,
         '2014.': 41,
         'accordance': 328,
         'Civil': 409,
         'Service': 435,
         'Rule': 264,
         '4.2,': 88,
         'apply': 356,
         'tested': 173,
         'To': 277,
         'meet': 516,
         'anticipated': 244,
         'hiring': 495,
         'needs,': 90,
         'limited': 99,
         'interview': 245,
         'following': 226,
         'order:': 87,
         '1)': 87,
         'minimum': 750,
         'requirements.': 59,
         'You': 303,
         'have': 605,
         'appointment': 395,
         'reserve': 259,
         'list': 600,
         'examination': 747,
         'promotional': 379,
         'candidate;': 57,
         '2)': 86,
         'currently': 94,
         'employed': 96,
         'part-time': 58,
         'exempt': 58,
         'basis': 426,
         'requirements;': 65,
         '3)': 58,
         'Remaining': 87,
         'requirements': 148,
         'sufficient': 304,
         'numbers': 91,
         'needs': 95,
         'order': 231,
         'applications': 159,
         'were': 81,
         'received.': 92,
         'submitted': 188,
         'during': 253,
         'filing': 254,
         'period': 232,
         'kept': 83,
         'April': 10,
         '18,': 20,
         '2014': 30,
         'event': 83,
         'additional': 177,
         'need': 91,
         'needs.': 84,
         'SELECTION': 176,
         'PROCESS': 319,
         'Examination': 185,
         'Weight:': 127,
         'Interview': 125,
         '.': 40294,
         '100%': 99,
         'consist': 226,
         'entirely': 199,
         'evaluation': 225,
         'interview,': 267,
         'emphasis': 100,
         'placed': 278,
         'background': 41,
         'provide': 329,
         'of:': 208,
         'principles,': 51,
         'practices,': 71,
         'managing': 22,
         'scale': 5,
         'budgetary,': 2,
         'administrative,': 9,
         'legislative': 16,
         'rules': 44,
         'regulations;': 23,
         'safety': 177,
         'practices;': 41,
         'telephony,': 1,
         'voice': 2,
         'recording,': 3,
         'Interactive': 1,
         'Voice': 2,
         'Response': 3,
         '(IVR),': 1,
         'systems;': 66,
         'mobile': 9,
         'e-mail,': 6,
         'social': 12,
         'media;': 9,
         'optimization': 1,
         'strategies': 7,
         'process': 168,
         're-engineering,': 1,
         'multi-channel': 1,
         'strategy,': 1,
         'consolidation,': 1,
         'technology': 7,
         'solution': 1,
         'investigation;': 4,
         'techniques,': 25,
         'curriculum': 1,
         'development;': 9,
         'practices': 141,
         'supervision,': 11,
         'including,': 4,
         'directing,': 19,
         'assigning,': 21,
         'motivating,': 26,
         'mentoring,': 1,
         'training,': 86,
         'counseling,': 30,
         'disciplining,': 20,
         'commending,': 8,
         'evaluating': 38,
         'subordinates;': 35,
         'pertinent': 51,
         'Personnel': 321,
         'Department': 542,
         'rules,': 95,
         'policies,': 53,
         'procedures,': 86,
         'Equal': 75,
         'Employment': 253,
         'Opportunity;': 25,
         'ability': 183,
         'manage': 20,
         'daily': 6,
         'coordinate': 33,
         'scale,': 1,
         'City-wide': 1,
         'projects': 17,
         'hire,': 5,
         'direct,': 19,
         'evaluate,': 3,
         'group': 40,
         'technical,': 7,
         'employees;': 28,
         'prepare': 108,
         'present': 10,
         'oral': 27,
         'written': 567,
         'reports': 49,
         'recommendations;': 5,
         'communicate': 116,
         'effectively': 153,
         'public': 152,
         'groups;': 8,
         'deal': 74,
         'tactfully': 85,
         'variety': 84,
         'individuals;': 8,
         'other': 456,
         'necessary': 272,
         'skills,': 222,
         'knowledge,': 191,
         'abilities.': 228,
         'Candidates': 1011,
         'notified': 203,
         'later': 165,
         'mail': 21,
         'date,': 131,
         'time,': 110,
         'location': 213,
         'held': 160,
         'Angeles.': 195,
         'It': 104,
         'interviews': 88,
         'begin': 88,
         'JULY': 44,
         '7,': 30,
         'through': 48,
         'As': 196,
         'covered': 179,
         'entity': 181,
         'under': 343,
         'Fair': 178,
         'Housing': 195,
         'Act': 186,
         'Title': 187,
         'II': 182,
         'Americans': 180,
         'Disabilities': 180,
         'Act,': 179,
         'discriminate': 355,
         'disability': 358,
         'request,': 178,
         'reasonable': 184,
         'accommodations': 174,
         'access': 185,
         'its': 185,
         'programs,': 199,
         'services,': 193,
         'activities.': 184,
         'request': 239,
         'accommodation,': 178,
         'please': 255,
         'Disability': 357,
         'Accommodation': 354,
         'Form': 353,
         '14': 179,
         'calendar': 190,
         'days': 200,
         'submittal': 180,
         'can': 303,
         'obtained': 256,
         'http://per.lacity.org/exams/verify_disability.pdf.': 174,
         'Appointment': 33,
         'subject': 461,
         'one-year': 33,
         'probationary': 41,
         'Section': 146,
         '1011': 23,
         'Charter.': 26,
         'accrue': 25,
         'seniority': 93,
         'credit': 163,
         'rate': 142,
         '0.10': 30,
         'point': 176,
         'service': 155,
         'position.': 143,
         'maximum': 48,
         'added': 115,
         'score': 528,
         'those': 78,
         'candidates.': 143,
         'ordinarily': 57,
         'used': 258,
         'ahead': 118,
         'open': 211,
         'competitive': 183,
         'list.': 349,
         'if': 413,
         'receive': 298,
         'higher': 91,
         'score,': 57,
         'without': 91,
         'military': 71,
         'credits,': 56,
         'than': 83,
         'highest': 62,
         'candidate,': 61,
         'after': 267,
         'adding': 60,
         'indicated': 14,
         'above,': 60,
         'Commission,': 61,
         'appointing': 60,
         'authority,': 61,
         'approve': 60,
         'certification': 134,
         '5.': 248,
         'basis.': 126,
         '6.': 205,
         'conjunction': 48,
         'Rules,': 46,
         'while': 59,
         '7.': 150,
         'disqualified': 251,
         'it': 259,
         'determined': 230,
         'do': 235,
         'possess': 189,
         'stated': 240,
         'bulletin.': 196,
         '8.': 88,
         'final': 188,
         'average': 175,
         '70%': 177,
         'eligible': 630,
         '9.': 44,
         'candidate': 182,
         'medical': 224,
         'prior': 310,
         'appointment.': 158,
         'Notice:': 65,
         'If': 187,
         'accept': 93,
         'offer': 92,
         'Angeles,': 153,
         'employee': 213,
         'benefit': 183,
         'coverage': 178,
         '(including': 96,
         'health': 98,
         'dental': 90,
         'well': 104,
         'life': 106,
         'insurance)': 90,
         'commence': 91,
         'approximately': 94,
         'weeks': 91,
         'original': 95,
         'Not': 90,
         'positions': 461,
         'coverage;': 91,
         'should': 104,
         'inquire': 90,
         'availability': 91,
         'benefits': 98,
         'accepting': 245,
         'THIS': 176,
         'EXAMINATION': 180,
         'IS': 178,
         'BE': 185,
         'GIVEN': 177,
         'ONLY': 128,
         'ON': 177,
         'AN': 413,
         'INTERDEPARTMENTAL': 138,
         'PROMOTIONAL': 144,
         'AND': 68,
         'OPEN': 92,
         'COMPETITIVE': 92,
         'BASIS': 177,
         'race,': 177,
         'religion,': 177,
         'national': 177,
         'origin,': 177,
         'sex,': 177,
         'age,': 177,
         'marital': 177,
         'status,': 177,
         'sexual': 178,
         'orientation,': 181,
         'gender': 354,
         'identity,': 177,
         'expression,': 177,
         'disability,': 178,
         'creed,': 177,
         'color,': 177,
         'ancestry,': 177,
         'condition': 181,
         '(cancer),': 177,
         'Acquired': 177,
         'Immune': 177,
         'Deficiency': 177,
         'Syndrome.': 176,
         'EQUAL': 213,
         'EMPLOYMENT': 213,
         'OPPORTUNITY': 209,
         'EMPLOYER': 208,
         'Code': 259,
         '.04-18-14': 1,
         'ACCOUNTING': 1,
         'CLERK': 2,
         '1223': 2,
         '07-13-18': 2,
         '(Exam': 156,
         'All,': 79,
         'Current': 157,
         'Employees)': 156,
         '$49,005': 1,
         '$71,618': 1,
         'Annual': 67,
         'salary': 448,
         'start': 68,
         'pay': 184,
         'range.': 68,
         'current': 230,
         'range': 175,
         'change.': 154,
         'Please': 131,
         'confirm': 155,
         'starting': 154,
         'department': 178,
         'before': 191,
         'offer.': 155,
         'An': 51,
         'Accounting': 13,
         'Clerk': 7,
         'performs': 63,
         'difficult': 15,
         'accounting': 48,
         'review,': 15,
         'preparation,': 1,
         'processing,': 6,
         'reconciliation,': 1,
         'maintenance': 140,
         'records': 19,
         'reports,': 17,
         'payroll': 4,
         'keeping': 7,
         'documents;': 12,
         'processing': 32,
         'monitoring': 11,
         'invoice': 2,
         'payments,': 3,
         'personal': 126,
         'contract': 14,
         'payments;': 2,
         'perform': 69,
         'cashiering': 2,
         'duties;': 6,
         'act': 24,
         'lead': 24,
         'person': 3,
         'performance': 62,
         'REQUIREMENT/MINIMUM': 61,
         'QUALIFICATION': 59,
         'Two': 116,
         'office': 20,
         'experience,': 89,
         'Successful': 9,
         'completion': 95,
         '6': 13,
         'semester': 77,
         '9': 8,
         'quarter': 78,
         'units': 81,
         'bookkeeping': 8,
         'accredited': 158,
         'trade': 17,
         'school,': 5,
         'substituted': 44,
         'above': 80,
         'experience.': 39,
         'NOTES': 136,
         'wishing': 14,
         'substitute': 19,
         'school': 57,
         'name': 57,
         'location,': 38,
         'appropriate': 49,
         'course': 62,
         'titles,': 13,
         'respective': 7,
         'units,': 23,
         'dates': 91,
         'claimed': 17,
         'qualifying': 562,
         'Supplemental': 81,
         'on-line': 386,
         'percentage': 9,
         'spent': 6,
         'these': 138,
         'duties,': 3,
         'separately': 62,
         'note': 66,
         'education': 83,
         'agency.': 55,
         'approved': 86,
         'accrediting': 49,
         'agencies': 69,
         'found': 62,
         'http://per.lacity.org/Accredited%20Institutions%2008-21-08.pdf.': 43,
         'completing': 45,
         'contacted': 39,
         'proof': 46,
         'coursework.': 30,
         'wish': 8,
         'expedite': 4,
         'attach': 34,
         'copy': 79,
         'transcripts': 8,
         '(annotated': 3,
         'courses,': 6,
         'earned,': 8,
         'grade': 125,
         'received)': 3,
         'Attachments': 4,
         'Retail': 1,
         'qualify': 9,
         'listed': 26,
         '"Application': 15,
         'Deadline"': 15,
         'On-line': 163,
         'https://www.governmentjobs.com/careers/lacity.': 18,
         'urged': 169,
         'early': 170,
         'resolve': 275,
         'encounter.': 167,
         'below:': 12,
         'From': 37,
         '8:00': 35,
         'a.m.': 6,
         'Friday,': 22,
         'July': 13,
         '13,': 19,
         '2018': 82,
         '11:59': 35,
         'p.m.,': 6,
         'Thursday,': 33,
         '26,': 17,
         'June': 19,
         '2019': 52,
         '20,': 29,
         'close': 49,
         'notice': 28,
         'been': 104,
         'Filing': 13,
         'periods': 107,
         'change': 35,
         'added,': 11,
         'needed,': 14,
         'date.': 16,
         'For': 243,
         'administrative': 50,
         'purposes,': 18,
         'periodically': 19,
         'reopen': 16,
         'noted': 16,
         'weighted': 102,
         'multiple-choice': 278,
         'test': 640,
         'random': 18,
         'sampling': 24,
         'Multiple-Choice': 25,
         'Test': 131,
         '.100%': 71,
         'administered': 107,
         'proctored': 30,
         'on-line.': 191,
         'test,': 153,
         'competencies': 64,

In [112]:
counter.most_common(5)

[('.', 40294), ('the', 12711), ('and', 9278), ('of', 8795), ('to', 6970)]

In [113]:
num_unique_words = len(counter)

In [114]:
# Split dataset into training and validation set
train_size = int(df.shape[0] * 0.8)

train_df = df[:train_size]
val_df = df[train_size:]

# Split text and labels
train_sentences = train_df.Text.to_numpy()
train_labels = train_df.Label_int.to_numpy()
val_sentences = val_df.Text.to_numpy()
val_labels = val_df.Label_int.to_numpy()

In [115]:
# Tokenize
from tensorflow.keras.preprocessing.text import Tokenizer

# Vectorize a text corpus by turning each text into a sequence of integers
tokenizer = Tokenizer(num_words=num_unique_words)
tokenizer.fit_on_texts(train_sentences)  # fit only to training

In [116]:
# Each word has unique index
word_index = tokenizer.word_index

In [ ]:
word_index

In [118]:
train_sequences = tokenizer.texts_to_sequences(train_sentences)
val_sequences = tokenizer.texts_to_sequences(val_sentences)

In [119]:
# print(train_sentences[10:11])
# print(train_sequences[10:11])

In [133]:
# Pad the sequences to have the same length
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Max number of words in a sequence
max_length = 1000

train_padded = pad_sequences(train_sequences, maxlen=max_length, padding="post", truncating="post")
val_padded = pad_sequences(val_sequences, maxlen=max_length, padding="post", truncating="post")
train_padded.shape, val_padded.shape

((141, 1000), (36, 1000))

In [ ]:
train_padded[10]

In [135]:
# print(train_sentences[10])
# print(train_sequences[10])
# print(train_padded[10])

In [136]:
# Check reversing the indices

# Flip (key/value)
reverse_word_index = dict([(idx, word) for (word, idx) in word_index.items()])

In [146]:
len(df["Text"].max())

5751

In [ ]:
reverse_word_index

In [138]:
def decode(sequence):
    return " ".join([reverse_word_index.get(idx, "?") for idx in sequence])

In [139]:
decoded_text = decode(train_sequences[10])

# print(train_sequences[10])
# print(decoded_text)

In [140]:
# Create LSTM model
from tensorflow.keras import layers

# Embedding: https://www.tensorflow.org/tutorials/text/word_embeddings
# Turns positive integers (indexes) into dense vectors of fixed size (other approach could be one-hot-enocoding).

# Word embedding give us a way to yse an efficient, dense representation in which similar words have
# a similar encoding. Importanty, you do not have to specify this encoding by hand. An embedding is a 
# dense vector of floating pont values (the length of the vector is a parameter you specify).

model = keras.models.Sequential()
model.add(layers.Embedding(num_unique_words, 32, input_length=max_length))

# The layer will take as input an integer matrix of size (batch, input_length),
# and the largest integer (i.e. word index) in the input should be no larger than num_wirds (vocabulary_size).
# Now model.output_shape is (None, input_length, 32), where "None" is the batch dimension.

model.add(layers.LSTM(64, dropout=0.1, return_sequences=True))
model.add(layers.LSTM(64, dropout=0.1))
model.add(layers.Dense(1, activation="sigmoid"))  # not linear

model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_9 (Embedding)     (None, 1000, 32)          339168

 lstm_12 (LSTM)              (None, 1000, 64)          24832

 lstm_13 (LSTM)              (None, 64)                33024

 dense_8 (Dense)             (None, 1)                 65

=================================================================
Total params: 397,089
Trainable params: 397,089
Non-trainable params: 0
_________________________________________________________________

In [141]:
loss = keras.losses.CategoricalCrossentropy(from_logits=False)  # Try another loss 
optim = keras.optimizers.SGD(lr=0.001)  # Try another optimizer, not Adam or SGD (seems not to be the case)
metrics = ["accuracy"]

model.compile(loss=loss, optimizer=optim, metrics=metrics)

WARNING:absl:`lr` is deprecated, please use `learning_rate` instead, or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.SGD.

In [142]:
print(val_labels.astype(np.int))

[0 2 0 2 2 0 0 1 2 0 0 2 2 2 2 0 2 2 2 2 1 2 0 2 2 2 0 2 2 0 0 2 2 0 2 1]

C:\Users\Johanna\AppData\Local\Temp\ipykernel_16828\1354341163.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(val_labels.astype(np.int))

In [5]:
model.fit(train_padded, train_labels.astype(np.int), epochs=100, validation_data=(val_padded, val_labels.astype(np.int)), verbose=2, batch_size=20)

NameError: name 'model' is not defined

In [149]:
predictions = model.predict(train_padded)

5/5 [==============================] - 3s 315ms/step

In [150]:
# print(train_sentences[10:12])
# print(train_labels[10:12])
print(predictions[:])

[[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]]